@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: #E1E1E6;
}

li {
	list-style: none;
}
body {
	background:url('images/blur-mobile.png'), black;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: bottom;
	background-size: 100vw;
	color: white;
	font-family: 'Manrope', sans-serif;
}

header {
	 border-bottom: 1px solid #29292E;
}

#header-content {
	height: 8vh;
	/* topo | direita | inferior | esquerda */
	margin: 0 1.5rem 0 1.5rem;
	width: 90%;
	display: flex;
	justify-content: space-between;
    align-items: center;
}

#menu {
	position: absolute;
	top: 8vh;
	left: 0;
	height: 92vh;
	width: 100vw;
	display: none;
	background: black;
	z-index: 100;
}

#menu.active {
	display: block;
}

#menu #links {
	display: flex;
    flex-direction: column;
}

#menu #links li {
	padding: 1rem;
	border-top: 1px solid #29292E;
	
}

#menu #links li a {
	padding: 1rem 1rem 1rem 0; 
}

#menu #links li:last-child {
	border-bottom: 1px solid #29292E; 
}

#menu #links li:hover {
	border-left: 3px solid #8257E6;
}

#main-content {
	width: 90%;
	max-width: 23rem;
	margin: 0 auto;
	text-align: center;
}

#gcode {
	-webkit-text-stroke-width: 1px;
	color: black;
  	-webkit-text-stroke-color: #8257E6;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 42px;
}

.main-top {
	margin-top: 5.5rem;
}

h1.main-top {
	font-size: 30px;
    font-weight: bold;
}

h2.main-top  {
 font-size: 48px;
}

div.main-top {
	display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px solid #8257E6;
    border-radius: 4px;
    width: 10rem;
    margin: 5.5rem auto 0;
    padding: 1rem 0 1rem 0;
    height: 2rem;
}

div.main-top a {
margin-right:1rem;
}

#footer-content {
	position:fixed;
	bottom: -5px;
	width: 90%
	margin: 0 auto;
}

#footer-content img {
	width: 100%
}
