/*Imports*/
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

/*Resets*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

img {
  width: 100%;
  height: auto;
}

/*Bases*/

body {
  font-family: 'Manrope', sans-serif;
  -webkit-font-smoothing: antialiased; /*Deixa o texto mais bonito*/
  background-color: black;
  color: white;
}

/*Layouts*/

header {
  border-bottom: 1px solid grey;
  width: 100%;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 3.65rem;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 1.5rem;
}

#line {
  border-bottom: 1px solid grey;
  width: 100%;
}

section {
  width: 90%;
  margin: 0 auto;
  text-align: center
}
#title {
  margin-top: 5.5rem;
  font-weight: 600;
  font-size: 22px;
}

#button {
  margin-top: 5.5rem;
}
#button a {
  display: inline-flex;
  height: 3.5rem;
  align-items: center;
  padding: 0 2rem;
  border-radius: 0.25rem;
  border: 1px solid grey;
  transition: 0.4s;
}

.button:hover {
  background-color: blue;
  color: white;
}


footer {
  position: fixed;
  bottom: -5px;
}
